<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.san.gallery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApp"
        android:allowBackup="true">
        <activity
            android:name=".GalleryActivity"
            android:exported="true" />
    </application>
</manifest>